{% extends "auth/layout.html" %}


{% block title %}Home{% endblock %}

{% block header %}{% include "auth/partials/header.html" %}{% endblock %}

{% block footer %}{% include "auth/partials/footer.html" %}{% endblock %}

{% block content %}

<!-- START: Section Login -->
<style>
    #SectionLogin {
        margin: 40px 0px 80px 0px;
    }
</style>
<section id="SectionLogin">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-default" style="margin:0 auto;max-width: 360px;">
                    <div class="card-header">
                        <h3 class="card-title" data-i18n="Auth.Login.HeadingSignIn">
                            Please sign in
                        </h3>
                    </div>
                    <div class="card-body form_login">
                        <!-- START: Message Area -->
                        <div class="form-group">
                            <div class="alert alert-success" style="display:none;">
                                <a class="close" data-dismiss='alert'>×</a>
                                <strong>Success</strong>
                                <span class="successMessage">&nbsp;</span>
                            </div>
                            <div class="alert alert-danger" style="display:none;">
                                <a class="close" data-dismiss='alert'>×</a>
                                <strong>Error</strong>
                                <span class="errorMessage">&nbsp;</span>
                            </div>
                        </div>
                        <!-- END: Message Area -->

                        <!-- START: Email -->
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="text"
                                data-i18n="Auth.Login.InputEmail" />
                        </div>

                        <!-- START: Password -->
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value=""
                                data-i18n="Auth.Login.InputPassword">
                        </div>
                        <!-- END: Password -->

                        <input type="hidden" name="sid" value="" />

                        <!-- START: Login -->
                        <button class="buttonLogin btn btn-lg btn-success btn-block"
                            onclick="return loginFormValidate();" data-i18n="Auth.Login.ButtonLogin">
                            <span class="fa fa-check"></span>
                            &nbsp;&nbsp;
                            Login
                            <span class="imgLoading fas fa-spinner fa-spin" style="display:none;"></span>
                        </button>
                        <!-- END: Login -->
                    </div>
                    <div class="card-footer">
                        <a href="register.html" class="btn btn-info float-left">
                            <span class="fa fa-thumbs-up"></span>
                            &nbsp;&nbsp;
                            <span data-i18n="Auth.Login.ButtonRegister">
                                Register
                            </span>
                        </a>
                        <a href="password-restore.html" class="btn btn-warning float-right"
                            onclick="router.to('auth/restore-password');">
                            <span class="fa fa-key"></span>
                            &nbsp;&nbsp;
                            <span data-i18n="Auth.Register.ButtonForgottenPasssword">
                                Forgot Password?
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: Section Login -->
{% endblock %}

{{ scripts("https://code.jquery.com/jquery-3.5.1.min.js") }}

{% block scripts %}
<script>
    /**
     * Validate Login Form
     * @returns {Boolean}
     */
    function loginFormValidate() {
        var email = $.trim($('input[name=email]').val());
        var password = $.trim($('input[name=password]').val());

        if (email === '') {
            return Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Email is required',
            });
        }

        if (password === '') {
            return Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Password is required',
            });
        }

        $('.buttonLogin .imgLoading').show();

        var ws = $$.ws("auth/login", { "email": email, "password": password });
        ws.then(success).catch(error);

        function success(response) {
            $('.buttonLogin .imgLoading').hide();
            if (response.status !== "success") {
                return Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: response.message,
                });
            }

            $$.setAuthToken(response.data.auth_token);
            $$.setAuthUser(response.data.user);

            setTimeout(function () {
                if ($$.getAuthUser().role == "admin") {
                    $$.to('/user/home');
                    return;
                }
                $$.to('/user/home');
            }, 2000);

            return Swal.fire({
                icon: 'success',
                title: 'Thank you',
                text: "We are now logging you in ...",
            });
        }

        function error(error) {
            $('.buttonLogin .imgLoading').hide();
            return Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'There was an error. Try again later!',
            });
        }
    }
</script>
{% endblock %}

<!-- <script src="/js/boot.js" data-exec="main"
    data-favicon="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AAAAAAP///wD4+PgA8fHxAPr6+gD8/PwA7u7uAP7+/gDw8PAA+fn5APLy8gD7+/sADAzoAPT09AAAAAAAh4cRGHERuYfq4d3RHd0T6nJx0R3RHRByJxEd0R3REYdxeBERERFQEiEnEREREbkXchEZLdchEXInESYScXIRh3F4eRchJ1ASYWFqRkZGGxTLEcERERwRy3gRHYeH0RF4JyHd3d3dGYdycd3d3d0QcicnHd3d0bmHcnhxEREXUHIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    data-scripts="
        https://cdn.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js,
        https://code.jquery.com/jquery-3.5.1.min.js,
        /js/main.js,
        https://cdn.jsdelivr.net/gh/lesichkovm/web@2.5.0/initialize.js,
        /js/authenticate-guest.js,
        https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js,
        https://unpkg.com/http-vue-loader,
        https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js,
        //unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js,
        https://cdn.jsdelivr.net/npm/sweetalert2@9
        " data-styles="
        https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css,
        //unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css,
        https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css
        ">
        </script> -->
<!-- END: Scripts -->