<template>
  <div class="footer" style="padding: 40px 0px">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">Copyright &copy; 2020 Milan Lesichkov</div>
        <div class="col-sm-12">All rights reserved</div>
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  data: function () {
    return {};
  },
};
</script>

<style>
.footer {
  background: blueviolet;
  color: white;
}
</style>