<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>
    <snv-layout id="my-app">
        <template v-slot:header>
            <snv-navbar />
        </template>
        <template v-slot:content>
            <div class="container">
                <template v-if="typeof breadcrumbs!=='undefined'">
                    <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
                </template>
                <template v-if="article==null">
                    <div class="message message-info">
                        Loading article...
                    </div>
                </template>
                <template v-if="article!=null">
                    <h1>
                        Article
                        <button class="btn btn-success float-right ml-10" v-on:click="articleSave(true)">
                            <i class="fas fa-save"></i>
                            Save
                            <i class="fas fa-spinner fa-spin" style="display:none"></i>
                        </button>
                        <button class="btn btn-success float-right ml-10" v-on:click="articleSave()">
                            <i class="fas fa-check"></i>
                            Apply
                            <i class="fas fa-spinner fa-spin" style="display:none"></i>
                        </button>
                        <a class="btn btn-info float-right" href="home.html">
                            <i class="fas fa-arrow-left"></i>
                            Cancel
                        </a>
                    </h1>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" v-model="article.status">
                            <option value="Draft">Draft</option>
                            <option value="Published">Published</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Wysiwyg</label>
                        <select class="form-control" v-model="article.wysiwyg" v-on:change="articleWysiwygLoad()">
                            <option value=""></option>
                            <option value="none">None</option>
                            <option value="blockarea">BlockArea</option>
                            <option value="tinymce">TinyMCE</option>
                            <option value="summernote">Summernote</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" v-model="article.title" />
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea id="ArticleContent" class="form-control" v-model="article.content"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Image URL</label>
                        <div class="input-group">
                            <input class="form-control" v-model="article.image" />
                            <span class="input-group-addon" onclick="mediaManagerOpen('input[name=ImageUrl]');"
                                style="cursor: pointer;">
                                <span class="fa fa-folder"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Date Published</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type="text" data-date-format="YYYY-MM-DD HH:mm:ss" class="form-control"
                                name="Published" v-model="article.published_at" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker2').datetimepicker();
                            });
                        </script>
                    </div>
                </template>
            </div>
        </template>
    </snv-layout>
    <script type="text/javascript">
        function main() {
            $(function () {
                console.log("Ready");
            });

            window.vm = new Vue({
                el: '#my-app',
                components: {
                    'snv-layout': httpVueLoader('/user/shared/snv-layout.vue'),
                    'snv-navbar': httpVueLoader('/user/shared/snv-navbar.vue'),
                    'snv-footer': httpVueLoader('/guest/shared/snv-footer.vue')
                },
                data() {
                    return {
                        articleId: null,
                        article: null,
                        breadcrumbs: [
                            {
                                text: 'Home',
                                href: '/user/'
                            },
                            {
                                text: 'Articles',
                                href: '/user/articles/home.html'
                            },
                            {
                                text: 'Edit Article',
                                href: '#'
                            },
                        ]
                    };
                },
                created() {
                    this.articleId = $$.getUrlParam('article_id');
                    if (this.articleId == null) {
                        return;
                    }
                    this.articleFetch();
                },
                methods: {
                    articleWysiwygLoad: function () {
                        var self = this;

                        console.log('Loading editor: ' + this.article.wysiwyg);

                        if (typeof $('#ArticleContent').summernote === "function") {
                            $('#ArticleContent').summernote('destroy');
                        }

                        if (this.article.wysiwyg == "blockarea") {
                            var blockArea = new BlockArea('ArticleContent');
                            blockArea.setParentId(this.article.id);
                            blockArea.registerBlock(BlockAreaHeading);
                            blockArea.registerBlock(BlockAreaText);
                            blockArea.registerBlock(BlockAreaImage);
                            blockArea.registerBlock(BlockAreaCode);
                            blockArea.registerBlock(BlockAreaRawHtml);
                            blockArea.init();
                        }

                        if (this.article.wysiwyg == "summernote") {
                            $(function () {
                                if (typeof $('#ArticleContent').summernote === "function") {
                                    $('#ArticleContent').summernote({
                                        callbacks: {
                                            onChange: function (contents, $editable) {
                                                console.log('onChanged');
                                                self.article.content = contents;
                                                console.log(self.article.content)
                                                vm.$forceUpdate();
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    },
                    articleSave: function (redirect) {
                        var self = this;
                        let isRedirect = redirect;
                        let btnClickedSpinner = $(event.target).find(".fa-spinner");
                        btnClickedSpinner.show();
                        $$.ws("user/articles/article-update", {
                            token: $$.getToken(),
                            article_id: this.articleId,
                            title: this.article.title,
                            content: this.article.content,
                            status: this.article.status,
                            wysiwyg: this.article.wysiwyg,
                        }).then(function (response) {
                            if (response.status !== "success") {
                                return Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.message,
                                });
                            }

                            toastr.success('Article saved');

                            self.article = response.data.article;
                            self.articleWysiwygLoad();

                            if (isRedirect === true) {
                                location.href = "home.html";
                            }
                            vm.$forceUpdate();

                            return;
                        }).fail(function () {
                            toastr.error('Article failed to save');
                        }).done(function () {
                            btnClickedSpinner.hide();
                        });

                    },
                    articleFetch: function () {
                        var self = this;

                        var ws = $$.ws("user/articles/article-find", { token: $$.getToken(), article_id: this.articleId });
                        ws.then(success).fail(error).done(function () { });

                        function success(response) {
                            if (response.status !== "success") {
                                return toastr.error(response.message);
                            }

                            self.article = response.data.article;
                            self.articleWysiwygLoad();

                            return;
                        }

                        function error(error) {
                            return toastr.error("There was an error. Try refreshing the page");
                        }
                    }
                }
            });
        }
    </script>
    <script>
        var BlockAreaCode = {
            type: 'Code',
            name: 'Code',
            render: function (block) {
                if (!block.Attributes.Code) {
                    return 'Not set up yet';
                }
                var html = '';
                html += '<p>Language: ' + block.Attributes.Language + '</p>'
                html += '<pre><code>' + block.Attributes.Code + '</code></pre>'
                return html;
            },
            template: function () {
                var html = '';
                html += '<div class="form-group">';
                html += '<label>Language</label>';
                html += '<select name="Language" class="form-control">';
                html += '<option></option>';
                html += '<option value="csharp">C#</option>';
                html += '<option value="html">HTML</option>';
                html += '<option value="javascript">JavaScript</option>';
                html += '<option value="java">Java</option>';
                html += '<option value="php">PHP</option>';
                html += '<option value="XHTML">XHTML</option>';
                html += '<option value="XML">XML</option>';
                html += '</select>';
                html += '</div>';
                html += '<div class="form-group">';
                html += '<label>Code</label>';
                html += '<textarea class="form-control" name="Code" placeholder="Please enter code here"></textarea>';
                html += '</div>';
                return html;
            }
        };

        var BlockAreaRawHtml = {
            type: 'RawHtml',
            name: 'Raw HTML',
            render: function (block) {
                if (!block.Attributes.Text) {
                    return 'Not set up yet';
                }
                var html = '';
                html += '<p>Raw HTML code</p>'
                return html;
            },
            template: function () {
                var html = '';
                html += '<textarea class="form-control" name="Text" placeholder="Your text here" value=""></textarea>';
                return html;
            }
        };

        var BlockAreaHeading = {
            type: 'Heading',
            name: 'Heading',
            render: function (block) {
                if (!block.Attributes.Text) {
                    return 'Not set up yet';
                }
                var html = '';
                html += '<h' + block.Attributes.Level + '>' + block.Attributes.Text + '</h' + block.Attributes.Level + '>'
                return html;
            },
            template: function () {
                var html = '';
                html += '<div class="form-group">';
                html += '<label>Level</label>';
                html += '<select name="Level" class="form-control">';
                html += '<option></option>';
                html += '<option value="1">Heading 1</option>';
                html += '<option value="2">Heading 2</option>';
                html += '<option value="3">Heading 3</option>';
                html += '<option value="4">Heading 4</option>';
                html += '<option value="5">Heading 5</option>';
                html += '<option value="6">Heading 6</option>';
                html += '</select>';
                html += '</div>';
                html += '<div class="form-group">';
                html += '<label>Text</label>';
                html += '<input class="form-control" name="Text" value="" placeholder="Please enter heading text here" />';
                html += '</div>';
                return html;
            }
        };
        var BlockAreaImage = {
            type: 'Image',
            name: 'Image',
            render: function (block) {
                if (!block.Attributes.Url) {
                    return 'Not set up yet';
                }
                var html = '';
                html += '<img src="' + block.Attributes.Url + '" style="max-height:100px;" />'
                return html;
            },
            template: function () {
                var html = '';
                html += '<div class="form-group">';
                html += '<div class="form-group">';
                html += '<label>Url</label>';
                html += '<input class="form-control" name="Url" value="" placeholder="Please enter URL for image here" />';
                html += '</div>';
                return html;
            }
        };
        var BlockAreaText = {
            type: 'Text',
            name: 'Text',
            render: function (block) {
                if (!block.Attributes.Text) {
                    return 'Not set up yet';
                }
                var html = '';
                html += '<p>' + block.Attributes.Text + '</p>'
                return html;
            },
            template: function () {
                var html = '';
                html += '<textarea class="form-control" name="Text" placeholder="Your text here" value=""></textarea>';
                return html;
            }
        };
    </script>

    <script src="/js/boot.js" data-scripts="/js/boot-user.js" data-styles=""></script>
    <!-- <script
        src="https://openwhisk.eu-gb.bluemix.net/api/v1/web/sinevia_live/default/blockarea/blockarea-version0200"></script> -->
    <script>
        setTimeout(function () {
            Boot.loadScripts([
                "https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js",
                "/js/blockarea_v0200.js",
                "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"
            ]);
            Boot.loadStyles([
                "https://code.jquery.com/ui/1.12.0-beta.1/themes/smoothness/jquery-ui.css",
                "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
            ]);
            setTimeout(function () {
                vm.articleWysiwygLoad();
            }, 1000);
        }, 2000)
    </script>
</body>