{% extends "user/layout.html" %}


{% block title %}Home{% endblock %}

{% block header %}{% include "user/partials/header.html" %}{% endblock %}

{% block footer %}{% include "user/partials/footer.html" %}{% endblock %}

{% block content %}
<style>
    .bi-arrow-down {
        cursor: pointer;
    }

    .bi-arrow-up {
        cursor: pointer;
    }
</style>
<section id="SectionArticles">
    <div class="container">
        <h1 class="mt-3">
            Articles
            <button class="btn btn-info float-right" v-on:click="articleCreateShow()">
                New article
            </button>
        </h1>
        <div style="border:1px solid #999;padding:10px;margin: 10px 0px;">
            Search: <input v-model="search" v-on:keyup="searchArticles()" />
        </div>
        <table class="table table-striped">
            <thead>
                <th>
                    <span v-on:click="sortBy('title')" style="cursor: pointer;">
                        Title
                    </span>
                    <template v-if="orderBy=='title'">
                        {% include "user/articles/partials/sort-up-down.html" %}
                    </template>
                </th>
                <th>
                    <span v-on:click="sortBy('status')" style="cursor: pointer;">
                        Status
                    </span>
                    <template v-if="orderBy=='status'">
                        {% include "user/articles/partials/sort-up-down.html" %}
                    </template>
                </th>
                <th>
                    <span v-on:click="sortBy('published_at')" style="cursor: pointer;">
                        Published
                    </span>
                    <template v-if="orderBy=='published_at'">
                        {% include "user/articles/partials/sort-up-down.html" %}
                    </template>
                </th>
                <th>
                    <span v-on:click="sortBy('created_at')" style="cursor: pointer;">Created</span>
                    <template v-if="orderBy=='created_at'">
                        {% include "user/articles/partials/sort-up-down.html" %}
                    </template>
                </th>
                <th>
                    <span v-on:click="sortBy('updated_at')" style="cursor: pointer;">
                        Updated
                    </span>
                    <template v-if="orderBy=='updated_at'">
                        {% include "user/articles/partials/sort-up-down.html" %}
                    </template>
                </th>
            </thead>
            <tbody>
                <template v-for="article in articles">
                    <tr>
                        <td>
                            <a v-bind:href="'article-update?article_id='+article.id">
                                ${article.title}
                            </a>
                        </td>
                        <td>
                            ${article.status}
                        </td>
                        <td>
                            ${article.published_at}
                        </td>
                        <td>
                            ${article.created_at}
                        </td>
                        <td>
                            ${article.updated_at}
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <br />
        <br />
        Rows per page:
        <select v-on:change="changePerPage()" v-model="perPage">
            <option v-for="num in [25,50,75,100]">${ num }</option>
        </select>
        Page:
        <span v-on:click="currentPage--;changePage()" v-if="currentPage-1>0" style="cursor: pointer;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </span>
        <select v-on:change="changePage()" v-model="currentPage">
            <option v-for="pageNumber in totalPages">${ pageNumber }</option>
        </select>
        <span v-on:click="currentPage++;changePage()" v-if="currentPage<totalPages" style="cursor: pointer;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </span>
        <br />
        <br />
    </div>

    {% include "user/articles/partials/article-create-modal.html" %}
</section>
{% endblock %}


{% block scripts %}

{{ scripts("https://code.jquery.com/jquery-3.5.1.min.js") }}

<script type="text/javascript">
    function main() {
        $(function () {
            console.log("Ready");
        });

        const Application = {
            delimiters: ['${', '}'],
            //components: {
            //    'snv-layout': httpVueLoader('/user/shared/snv-layout.vue'),
            //    'snv-navbar': httpVueLoader('/user/shared/snv-navbar.vue'),
            //    'snv-footer': httpVueLoader('/guest/shared/snv-footer.vue')
            //},
            data() {
                return {
                    articles: [],
                    search: "",
                    perPage: 25,
                    currentPage: 1,
                    totalArticles: null,
                    totalPages: null,
                    orderBy: "created_at",
                    sort: "desc",
                    articleCreateModal: {},
                };
            },
            created() {
                this.fetchArticles();
            },
            methods: {
                articleCreateShow: function () {
                    var self = this;
                    self.articleCreateModal.title = "";
                    //$('#ModalArticleCreate').modal('show');
                    var modal = new bootstrap.Modal(document.getElementById('ModalArticleCreate'), {});
                    modal.show();
                },
                articleCreateSave: function () {
                    var self = this;
                    $$.ws("user/articles/article-create", {
                        title: this.articleCreateModal.title,
                    }).then((response) => {
                        if (response.status !== "success") {
                            return Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.message,
                            });
                        }
                        return;
                    }).catch(error => {
                        console.log(error);
                        return Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'There was an error. Try again later!',
                        });
                    });
                },
                sortBy(column) {
                    if (column == this.orderBy) {
                        console.log("Same")
                        if (this.sort == "asc") {
                            this.sort = "desc";
                        } else {
                            this.sort = "asc";
                        }
                    } else {
                        this.orderBy = column;
                        this.sort = "desc";
                    }
                    console.log(this.sort)
                    this.fetchArticles();
                },
                sortDirection(direction) {
                    this.sort = direction;
                    this.fetchArticles();
                },
                changePage: function () {
                    this.fetchArticles();
                },
                changePerPage: function () {
                    this.fetchArticles();
                },
                searchArticles: function () {
                    this.fetchArticles();
                },
                fetchArticles: function () {
                    var self = this;

                    $('.buttonLogin .imgLoading').show();

                    $$.ws("user/articles/article-list", {
                        token: $$.getAuthToken(),
                        per_page: self.perPage,
                        page: self.currentPage,
                        search: self.search,
                        by: self.orderBy,
                        sort: self.sort,
                    }).then(success).catch(error);

                    function success(response) {
                        $('.buttonLogin .imgLoading').hide();

                        if (response.status !== "success") {
                            return Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.message,
                            });
                        }

                        // console.log(response.data.articles)

                        self.articles = response.data.articles;
                        self.currentPage = response.data.page;
                        self.totalPages = response.data.pages;
                        self.totalArticles = response.data.total;
                        // console.log(self.articles)

                        return;
                    }

                    function error(error) {
                        $('.buttonLogin .imgLoading').hide();
                        return Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'There was an error. Try again later!',
                        });
                    }
                }
            }
        };


        Vue.createApp(Application).mount('#SectionArticles');
    }
    main();
</script>
{% endblock %}