{% extends "user/layout.html" %}


{% block title %}Home{% endblock %}

{% block header %}{% include "user/partials/header.html" %}{% endblock %}

{% block footer %}{% include "user/partials/footer.html" %}{% endblock %}

{% block content %}

{{ styles("https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css") }}
{{ styles("https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css") }}
{{ _styles("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.css") }}
{{ _styles("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.min.css") }}
{{ _styles("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css") }}
{{ _styles("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css") }}
{{styles("https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/themes/classic.css,https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/themes/classic.date.css,https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4//themes/classic.time.css")}}


<section id="SectionArticles">
    <div class="container">
        <template v-if="typeof breadcrumbs!=='undefined'">
            <!-- <b-breadcrumb :items="breadcrumbs"></b-breadcrumb> -->
        </template>
        <template v-if="article==null">
            <div class="message message-info">
                Loading article...
            </div>
        </template>
        <template v-if="article!=null">
            <h1 class="mt-3">
                Article
                <button class="btn btn-success float-right ml-10" v-on:click="articleSave(true)">
                    <i class="fas fa-save"></i>
                    Save
                    <i class="fas fa-spinner fa-spin" style="display:none"></i>
                </button>
                <button class="btn btn-success float-right ml-10" v-on:click="articleSave()">
                    <i class="fas fa-check"></i>
                    Apply
                    <i class="fas fa-spinner fa-spin" style="display:none"></i>
                </button>
                <a class="btn btn-info float-right" href="./article-manager">
                    <i class="fas fa-arrow-left"></i>
                    Cancel
                </a>
            </h1>
            <div class="form-group">
                <label>Status</label>
                <select class="form-control" v-model="article.status">
                    <option value="Draft">Draft</option>
                    <option value="Published">Published</option>
                </select>
            </div>
            <div class="form-group">
                <label>Wysiwyg</label>
                <select class="form-control" v-model="article.wysiwyg" v-on:change="articleWysiwygLoad()">
                    <option value=""></option>
                    <option value="none">None</option>
                    <option value="blockarea">BlockArea</option>
                    <option value="tinymce">TinyMCE</option>
                    <option value="summernote">Summernote</option>
                </select>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" v-model="article.title" />
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea id="ArticleContent" class="form-control" v-model="article.content"></textarea>
            </div>

            <div class="form-group">
                <label>Image URL</label>
                <div class="input-group">
                    <input class="form-control" v-model="article.image" />
                    <span class="input-group-addon" onclick="mediaManagerOpen('input[name=ImageUrl]');" style="cursor: pointer;">
                        <span class="fa fa-folder"></span>
                    </span>
                </div>
            </div>

            <!-- START: Published At-->
            <div class="form-group mt-3">
                <label>Date Published</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </span>
                            <input placeholder="Date" type="text" class="form-control datepicker" v-model="article.publishedDate" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                                    <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </span>
                            <input placeholder="Time" type="text" class="form-control timepicker" v-model="article.publishedTime" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Published At-->

            <div class="mt-3">
                <button class="btn btn-success float-right ml-10" v-on:click="articleSave(true)">
                    <i class="fas fa-save"></i>
                    Save
                    <i class="fas fa-spinner fa-spin" style="display:none"></i>
                </button>
                <button class="btn btn-success float-right ml-10" v-on:click="articleSave()">
                    <i class="fas fa-check"></i>
                    Apply
                    <i class="fas fa-spinner fa-spin" style="display:none"></i>
                </button>
                <a class="btn btn-info float-right" href="./home">
                    <i class="fas fa-arrow-left"></i>
                    Cancel
                </a>
            </div>


            <br />
            <br />
            <br />
        </template>
    </div>
</section>
{% endblock %}


{% block scripts %}
{{ scripts("https://code.jquery.com/jquery-3.5.1.min.js") }}
{{ scripts("https://code.jquery.com/ui/1.12.0/jquery-ui.min.js") }}
{{ _scripts("https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js") }}
{{ _scripts("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js") }}
{{ scripts("https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/picker.js,https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/picker.date.js,https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.6.4/picker.time.js")}}
{{ scripts("/shared/strtotime.js,/shared/date.js,/shared/blockarea_v0200.js") }}
{{ scripts("https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js") }}


<script type="text/javascript">
    // Boot.loadScripts([
    //                 "/js/blockarea_v0200.js",
    function main() {
        $(function () {
            console.log("Ready");
        });

        const Application = {
            delimiters: ['${', '}'],
            data() {
                return {
                    articleId: null,
                    article: null,
                    breadcrumbs: [
                        {
                            text: 'Home',
                            href: '/user/'
                        },
                        {
                            text: 'Articles',
                            href: '/user/articles/article-manager'
                        },
                        {
                            text: 'Edit Article',
                            href: '#'
                        },
                    ]
                };
            },
            created() {
                this.articleId = $$.getUrlParam('article_id');
                if (this.articleId == null) {
                    return;
                }
                this.articleFetch();
            },
            methods: {
                articleWysiwygLoad: function () {
                    var self = this;

                    console.log('Loading editor: ' + this.article.wysiwyg);

                    if (typeof $('#ArticleContent').summernote === "function") {
                        $(function () {
                            // $('#ArticleContent').summernote('destroy');
                        });
                    }

                    if (this.article.wysiwyg.toLowerCase() == "blockarea") {
                        $(function () {
                            var blockArea = new BlockArea('ArticleContent');
                            blockArea.setParentId(self.article.id);
                            blockArea.registerBlock(BlockAreaHeading);
                            blockArea.registerBlock(BlockAreaText);
                            blockArea.registerBlock(BlockAreaImage);
                            blockArea.registerBlock(BlockAreaCode);
                            blockArea.registerBlock(BlockAreaRawHtml);
                            blockArea.init();
                        });
                    }

                    if (this.article.wysiwyg.toLowerCase() == "summernote") {
                        $(function () {
                            if (typeof $('#ArticleContent').summernote === "function") {
                                $('#ArticleContent').summernote({
                                    callbacks: {
                                        onChange: function (contents, $editable) {
                                            console.log('onChanged');
                                            self.article.content = contents;
                                            console.log(self.article.content)
                                            vm.$forceUpdate();
                                        }
                                    }
                                });
                            }
                        });
                    }

                    if (this.article.wysiwyg.toLowerCase() == "ckeditor") {
                        $(function () {
                            if (typeof $('#ArticleContent').summernote === "function") {
                                $('#ArticleContent').summernote({
                                    callbacks: {
                                        onChange: function (contents, $editable) {
                                            console.log('onChanged');
                                            self.article.content = contents;
                                            console.log(self.article.content)
                                            vm.$forceUpdate();
                                        }
                                    }
                                });
                            }
                        });
                    }
                },
                articleSave: function (redirect) {
                    var self = this;
                    let isRedirect = redirect;
                    let btnClickedSpinner = $(event.target).find(".fa-spinner");
                    btnClickedSpinner.show();
                    if (this.article.content == "") {
                        return Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Content cannot be empty',
                        });
                    }
                    $$.ws("user/articles/article-update", {
                        token: $$.getAuthToken(),
                        article_id: this.articleId,
                        title: this.article.title,
                        content: this.article.content,
                        status: this.article.status,
                        wysiwyg: this.article.wysiwyg,
                        published_at: this.article.publishedDate + " " + this.article.publishedTime + ":00",
                    }).then(function (response) {
                        if (response.status !== "success") {
                            return Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.message,
                            });
                        }

                        Swal.fire({
                            icon: 'success',
                            title: 'Asrticle saved',
                            //text: response.message,
                        });

                        self.article = response.data.article;
                        self.articleWysiwygLoad();

                        if (isRedirect === true) {
                            location.href = "home.html";
                        }
                        self.$forceUpdate();

                        return;
                    }).catch(function (error) {
                        console.log(error);
                        //btnClickedSpinner.hide();
                        return Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "Article failed to save",
                        });
                    });

                },
                articleFetch: function () {
                    var self = this;

                    $$.ws("user/articles/article-find", { token: $$.getAuthToken(), article_id: this.articleId }).then(success).catch(error);

                    function success(response) {
                        if (response.status !== "success") {
                            return Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.message,
                            });
                        }

                        self.article = response.data.article;
                        self.article.publishedDate = date("Y-m-d", strtotime(self.article.published_at.substr(0, 19)))
                        self.article.publishedTime = date("H:i", strtotime(self.article.published_at.substr(0, 19)))

                        self.articleWysiwygLoad();
                        self.enableDateTimePickers();
                        return;
                    }

                    function error(error) {
                        console.log(error);
                        return Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "There was an error. Try refreshing the page",
                        });
                    }
                },
                enableDateTimePickers() {
                    setTimeout(function () {
                        console.log("Enable date time pickers");
                        $('.datepicker').pickadate({
                            format: 'yyyy-mm-dd'
                        });
                        $('.timepicker').pickatime({
                            format: 'HH:i'
                        });
                    }, 2000);
                }
            }
        };

        Vue.createApp(Application).mount('#SectionArticles');
    }
    main();
</script>
<script type="text/javascript">
    $(function () {
        //$('#datetimepicker2').datepicker();
    });
</script>

<script>
    var BlockAreaCode = {
        type: 'Code',
        name: 'Code',
        render: function (block) {
            if (!block.Attributes.Code) {
                return 'Not set up yet';
            }
            var html = '';
            html += '<p>Language: ' + block.Attributes.Language + '</p>'
            html += '<pre><code>' + block.Attributes.Code + '</code></pre>'
            return html;
        },
        template: function () {
            var html = '';
            html += '<div class="form-group">';
            html += '<label>Language</label>';
            html += '<select name="Language" class="form-control">';
            html += '<option></option>';
            html += '<option value="csharp">C#</option>';
            html += '<option value="html">HTML</option>';
            html += '<option value="javascript">JavaScript</option>';
            html += '<option value="java">Java</option>';
            html += '<option value="php">PHP</option>';
            html += '<option value="XHTML">XHTML</option>';
            html += '<option value="XML">XML</option>';
            html += '</select>';
            html += '</div>';
            html += '<div class="form-group">';
            html += '<label>Code</label>';
            html += '<textarea class="form-control" name="Code" placeholder="Please enter code here"></textarea>';
            html += '</div>';
            return html;
        }
    };

    var BlockAreaRawHtml = {
        type: 'RawHtml',
        name: 'Raw HTML',
        render: function (block) {
            if (!block.Attributes.Text) {
                return 'Not set up yet';
            }
            var html = '';
            html += '<p>Raw HTML code</p>'
            return html;
        },
        template: function () {
            var html = '';
            html += '<textarea class="form-control" name="Text" placeholder="Your text here" value=""></textarea>';
            return html;
        }
    };

    var BlockAreaHeading = {
        type: 'Heading',
        name: 'Heading',
        render: function (block) {
            if (!block.Attributes.Text) {
                return 'Not set up yet';
            }
            var html = '';
            html += '<h' + block.Attributes.Level + '>' + block.Attributes.Text + '</h' + block.Attributes.Level + '>'
            return html;
        },
        template: function () {
            var html = '';
            html += '<div class="form-group">';
            html += '<label>Level</label>';
            html += '<select name="Level" class="form-control">';
            html += '<option></option>';
            html += '<option value="1">Heading 1</option>';
            html += '<option value="2">Heading 2</option>';
            html += '<option value="3">Heading 3</option>';
            html += '<option value="4">Heading 4</option>';
            html += '<option value="5">Heading 5</option>';
            html += '<option value="6">Heading 6</option>';
            html += '</select>';
            html += '</div>';
            html += '<div class="form-group">';
            html += '<label>Text</label>';
            html += '<input class="form-control" name="Text" value="" placeholder="Please enter heading text here" />';
            html += '</div>';
            return html;
        }
    };
    var BlockAreaImage = {
        type: 'Image',
        name: 'Image',
        render: function (block) {
            if (!block.Attributes.Url) {
                return 'Not set up yet';
            }
            var html = '';
            html += '<img src="' + block.Attributes.Url + '" style="max-height:100px;" />'
            return html;
        },
        template: function () {
            var html = '';
            html += '<div class="form-group">';
            html += '<div class="form-group">';
            html += '<label>Url</label>';
            html += '<input class="form-control" name="Url" value="" placeholder="Please enter URL for image here" />';
            html += '</div>';
            return html;
        }
    };
    var BlockAreaText = {
        type: 'Text',
        name: 'Text',
        render: function (block) {
            if (!block.Attributes.Text) {
                return 'Not set up yet';
            }
            var html = '';
            html += '<p>' + block.Attributes.Text + '</p>'
            return html;
        },
        template: function () {
            var html = '';
            html += '<textarea class="form-control" name="Text" placeholder="Your text here" value=""></textarea>';
            return html;
        }
    };
</script>

<!-- <script src="/js/boot.js" data-scripts="/js/boot-user.js" data-styles=""></script> -->
<!-- <script
        src="https://openwhisk.eu-gb.bluemix.net/api/v1/web/sinevia_live/default/blockarea/blockarea-version0200"></script> -->
<!-- <script>
    setTimeout(function () {
        Boot.loadScripts([
            "https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js",
            "/js/blockarea_v0200.js",
            "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"
        ]);
        Boot.loadStyles([
            "https://code.jquery.com/ui/1.12.0-beta.1/themes/smoothness/jquery-ui.css",
            "https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        ]);
        setTimeout(function () {
            vm.articleWysiwygLoad();
        }, 1000);
    }, 2000)
</script> -->
{% endblock %}