<div class="footer" style="padding:40px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Copyright &copy; 2020 Digitease.com
            </div>
        </div>
    </div>
</div>